body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("assets/table.png");
    background-size: cover;
    color: white;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    border: none;
    border-radius: 2px;
    padding: 5px 0;
    background-color: goldenrod;
    font-weight: 700;
    color: #016f32;
}